html,
body,
.model {
    position: absolute;
    display: block;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

edit-table {
    display: table;
}

edit-table-row {
    display: table-row;
}

edit-table-cell {
    display: table-cell;
    padding: 4px 12px;
}
